APP_SECRET=
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# Mail config: ethereal or ses
MAIL_DRIVER=ethereal

# Storage Config: disk or s3
STORAGE_DRIVER=s3

#AWS CREDENTIAL
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWD_SECRET_ACESS_KEY=